<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mygento_Base::base" title="Base" translate="title" module="Mygento_Base" sortOrder="90" parent="Magento_Backend::stores" resource="Mygento_Base::base"/>
        <add id="Mygento_Base::base_event" title="Event" translate="title" module="Mygento_Base" sortOrder="90" parent="Mygento_Base::base" action="base/event" resource="Mygento_Base::base_event"/>
    </menu>
</config>
