<?xml version="1.0"?>
<!--
/**
 * @author Mygento Team
 * @package Mygento_Base
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mygento" translate="label" sortOrder="999999" class="mygento-tab">
            <label>Mygento Extensions</label>
        </tab>
        <section id="mygento_base" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Extensions and Support</label>
            <tab>mygento</tab>
            <resource>Mygento_Base::config</resource>
            <group id="extensions" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Extensions and Support</label>
                <frontend_model>Mygento\Base\Block\Extensions</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="debug" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>All built-in methods of Mygento_Base module will write log</comment>
                </field>
                <field id="loglevel" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Log Level</label>
                    <source_model>Mygento\Base\Model\Source\Loglevel</source_model>
                </field>
            </group>
            <group id="logger" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Logging</label>
                <field id="target" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Log Destination</label>
                    <source_model>Mygento\Base\Model\Source\LogTarget</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
